:root{
 --primary-color: #FF7A18;
 --secondary-color: #1E88E5;
 --background-color: #f3f3f3;
 --text-color: #333;
 --color:black;
 --icon:#FFE1C4;
 --footer-bg-color: #7B4F34;
 --text-color1:#1F2937;
 --footer-line:#F3F4F6;
 --overlay-bg: rgba(255, 136, 0, 0.70);
 --input-bg: #BDBDBD;
 --signup-text-color:#3B4758;
 --logo:#ff7a00;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* NAVBAR*/
 .navbar { 
  display: flex; 
  justify-content: 
  space-between; 
  align-items: center; 
  padding: 20px 8%; 
  background: var(--background-color); 
  position: sticky; 
  top: 0; 
  z-index: 1000;
} 
 .logo { 
  color:var(--logo) ; 
  font-family: Island moments; 
  width: 183px; 
  height: 41px; 
  opacity: 1; 
  font-family: Island Moments; 
  font-weight: 400; 
  font-style: Regular; 
  font-size: 40.81px; 
  line-height: 40.81px; 
  letter-spacing: 0%;
} 
.nav-links { 
  transform: rotate(0deg); 
  opacity: 1; 
  gap: 100px; 
  padding: 10px; 
  list-style: none; 
  display: flex; 
} 
.nav-links a { 
  width: 215.25px; 
  height: 24px; 
  opacity: 1; 
  font-family: Inter; 
  font-weight: 500; 
  font-style: Medium; 
  font-size: 16px; 
  line-height: 24px; 
  letter-spacing: 0%; 
  text-decoration: none; 
  color: var(--color); 
} 

nav li a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}
nav li a:active{
  color: var(--logo);
}
.login-btn { 
  background: var(--primary-color); 
  color: var(--background-color); 
  border: none; 
  cursor: pointer; 
  width: 160px; 
  height: 54px; 
  opacity: 1; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  gap: 16px; 
  border-radius: 10px; 
}
.login-btn a{
 width: 43px;
 height: 24px;
 opacity: 1;
 font-family: Inter;
 font-weight: 600;
 font-style: Semi Bold;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0%;
 color: var(--background-color);
 text-decoration: none;
}
.login-btn a:active{
  color: var(--background-color);
  text-decoration: none;
}
.menu-toggle { 
  display: none; 
  font-size: 24px; 
  cursor: pointer; 
}

/* HERO*/

.hero{
  background:url("Assets/Welcome.png") center/cover no-repeat;
  min-height:85vh;
  display:flex;
  align-items:center;
  padding:0 8%;
  color:var(--background-color);
  position:relative;
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.5);
}

.hero-content{
  position:relative;
  max-width:650px;
}

.hero-content h1{
  font-size:clamp(28px,5vw,48px);
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 61px;
  letter-spacing: 0%;
}

.hero-content p{
  font-size:clamp(16px,3vw,24px);
  margin-top:15px;
  font-family: Inter;
  font-weight: 700;
 font-style: Bold;
 font-size: 32px;
 line-height: 42px;
 letter-spacing: 0%;
}

.primary-btn { 
  width: 200px; 
  height: 54px; 
  opacity: 1; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  gap: 16px; 
  border-radius: 10px; 
  background:var(--logo); 
  border: none; 
  border-radius: 8px; 
  margin-top: 20px; 
  cursor: pointer; 
} 
.primary-btn a { 
  width: 195px; 
  height: 24px; 
  opacity: 1; 
  font-family: Inter; 
  font-weight: 600; 
  font-style: Semi Bold; 
  font-size: 16px; 
  line-height: 24px; 
  letter-spacing: 0%; 
  color:var(--background-color); 
  text-align: center; 
  text-decoration: none; 
}

/*SEARCH*/

.search-container{
  display:flex;
  justify-content:center;
  padding:40px 20px;
}

.search-box{
  width:100%;
  max-width:600px;
  position:relative;
}

.search-box input{
  width:100%;
  padding:14px 20px 14px 45px;
  border-radius:30px;
  border:1px solid #ddd;
}

.search-icon{
  position:absolute;
  left:15px;
  top:50%;
  transform:translateY(-50%);
}
.search-box input:focus { 
  border-color: #ff7a00; 
  box-shadow: 0 0 8px rgba(255, 122, 0, 0.2); 
}

/*CATEGORIES*/

.categories{
  padding:60px 8%;
  text-align:center;
}

.category-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  margin-top:30px;
}

.card { 
  background: var(--background-color); 
  border-radius: 12px; 
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  padding-bottom:30px;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}
.card p { 
  padding: 15px; 
}
.card:hover{
  transform:translateY(-5px);
}

/* SPECIALS */

.specials{
  padding:60px 8%;
  text-align:center;
}

.food-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
  margin-top:30px;
}

.food-card{
  background:var(--background-color);
  border-radius:12px;
  overflow:hidden;
  padding-bottom:20px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.food-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.price{
  color:var(--logo);
  font-weight:600;
  margin:10px 0;
}

.cart-btn { 
  background: var(--logo); 
  border: none; 
  padding: 10px 20px; 
  color: var(--background-color); 
  border-radius: 8px; 
  cursor: pointer; 
}

/* PROMO */

.promo{
  background:url("Assets/beans.png") center/cover no-repeat;
  padding:80px 8%;
  color:var(--background-color);
  position:relative;
}

.promo::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

.promo-content{
  position:relative;
  max-width:600px;
}

.promo-content h2{
  opacity: 1; 
  font-family: Inter; 
  font-weight: 800; 
  font-style: Extra Bold; 
  font-size: 48px; 
  line-height: 140%; 
  letter-spacing: 0%;
}

.promo-content p{ 
  opacity: 1; 
  font-family: Inter; 
  font-weight: 600; 
  font-style: Semi Bold; 
  font-size: 24px; 
  line-height: 34px; 
  letter-spacing: 0%;
}

.primary-btn1 { 
  width: 200px; 
  height: 54px; 
  opacity: 1; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  gap: 16px; 
  border-radius: 10px; 
  background:var(--logo); 
  border: none; 
  border-radius: 8px; 
  margin-top: 20px; 
  cursor: pointer; 
} 
.primary-btn1 a { 
  width: 195px; 
  height: 24px; 
  opacity: 1; 
  font-family: Inter; 
  font-weight: 600; 
  font-style: Semi Bold; 
  font-size: 16px; 
  line-height: 24px; 
  letter-spacing: 0%; 
  color:var(--background-color); 
  text-align: center; 
  text-decoration: none; 
}


/*FOOTER */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--background-color);
  width: 100%;
  padding: 60px 8%;
}
/* GRID LAYOUT */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
/* LOGO */
.footer-logo {
 opacity: 1;
 font-family:Island Moments;
 font-size: 36px;
 color: var(--primary-color);
 margin-bottom: 10px;
 font-weight: 400;
 font-style: Regular;
 line-height: 37.02px;
 letter-spacing: 0%;
}
.footer-col1 p {
 opacity: 1;
 font-family: Jost;
 font-weight: 400;
 font-size: 24px;
 line-height: 36px;
 letter-spacing: 0%;
 color: var(--background-color);
}
/* HEADINGS */
.footer h4 { 
 font-family: Jost;
 font-size: 20px;
 margin-bottom: 15px;
 opacity: 1;
 font-weight: 400;
 font-size: 24px;
 line-height: 36px;
 letter-spacing: 0%;
}
/* LISTS */
.footer ul {
  list-style: none;
  padding: 0;
}
.footer li {
  font-family: Poppins;
  font-size: 14px;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
  transition: 0.3s;
}

.footer li:hover {
  opacity: 1;
  color: var(--primary-color);
}

/*FOOTER BOTTOM*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 20px;
}

.footer-bottom p {
  opacity: 0.75;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 400;
 line-height: 20px;
 letter-spacing: 0%;
}

/*SCROLL BUTTON*/

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.scroll-top:hover {
  transform: translateY(-3px);
}

.scroll-top i {
  color: var(--background-color);
  font-size: 16px;
}

/*TABLET*/
@media (max-width: 1024px) {
   .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE  */

@media (max-width: 768px) {  
  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 80px;
    right: 0;
    background: var(--background-color);
    width: 100%;
    display: none;
  }

  .nav.active {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    gap: 30px;
  }

  .login-btn {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .hero-content{
  position:relative;
  max-width:650px;
  }

.hero-content h1{
  font-size:28px;
  line-height:1.2;
} 

.hero-content p{
  font-size:16px;
  margin-top:15px;
}

.promo-content{
  position:relative;
  max-width:650px;
}

.promo-content h2{
  font-size:20px;
  line-height:1.2;
}

.promo-content p{
  margin-top:20px;
  font-size:16px;
}
}

